.mobilenav {
    display: none;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    padding-left: 4.4rem;
    scroll-behavior: smooth;
    overflow-y: auto;
  }
  .navbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.navbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px transparent; 
    border:none
}
@media only screen and (max-width: 1024px) {
  .navbar {
    padding-left: 2.5rem;
    width: 30%;
   
  }
  .navbar .header .brand {
    font-size: 1rem;
  }
  .navbar .navlinks li {
    margin-bottom: 3rem;
  }
  .navbar .cartbutton {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
  }
  .content .herocontainer h1 {
    width: 60%;
    font-size: 3rem;
  }
  .content .herocontainer .description {
    width: 35%;
  }
  .content .productscarousel {
    overflow-x: scroll;
    
  }
}

@media only screen and (max-width: 580px) {
  .navbar {
    width: 50vw;
    background-color: white;
    -webkit-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
    padding-left: 2.5rem;
    padding-top: 6rem;
    margin-top: 7rem;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .navbar .header,
  .navbar .cartbutton {
    display: none;
  }
  .navbar .navlinks li {
    opacity: 0;
  }
  .mobilenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.5rem;
  }
  .mobilenav .hamburger {
    height: 1.5rem;
    width: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .mobilenav .hamburger .line1,
  .mobilenav .hamburger .line2,
  .mobilenav .hamburger .line3 {
    width: 100%;
    height: 3px;
    background-color: #ff4e4e;
    -webkit-transition: width 0.3s ease, -webkit-transform 0.3s ease;
    transition: width 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, width 0.3s ease;
    transition: transform 0.3s ease, width 0.3s ease,
      -webkit-transform 0.3s ease;
  }
  .mobilenav .hamburger .line1 {
    width: 65%;
  }
  .mobilenav .hamburger .line3 {
    width: 85%;
  }
  .mobilenav .brand {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .mobilenav .carticon {
    padding-top: 0.5rem;
  }
  .mobilenav .carticon svg {
    height: 1.6rem;
  }
  .mobilenav .carticon svg path {
    fill: #ff4e4e;
  }
  nav-active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .content {
    padding-top: 0;
    margin-left: 0;
  }
  .content .herocontainer {
    padding: 1.3rem 2.5rem 1rem 2.5rem;
  }
  .content .herocontainer h1 {
    font-size: 2rem;
    width: 100%;
  }
  .content .herocontainer .description {
    display: none;
  }
  .content .productscarousel {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: visible;
    padding: 2rem 2.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
  }
  .content .productscarousel .productcontainer {
    padding: 1.4rem 1.4rem 1.8rem 1.4rem;
    margin-right: 0;
    margin-bottom: 1.3rem;
  }
  .content .productscarousel .productcontainer .image {
    height: 7rem;
    width: 7rem;
  }
  .content .productscarousel .productcontainer .product-name {
    font-size: 0.8rem;
  }
  .content .mobiledescription {
    display: block;
    padding: 0 2.5rem;
  }
  .content .mobiledescription .descriptiontext {
    color: #818181;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .content .mobiledescription .descriptionline {
    height: 3px;
    width: 5rem;
    margin-top: 2rem;
    background-color: #ff4e4e;
  }
  .toggle .hamburger .line1 {
    width: 2rem;
    -webkit-transform: rotate(-45deg) translateY(0.95rem);
    transform: rotate(-45deg) translateY(0.95rem);
  }
  .toggle .hamburger .line2 {
    opacity: 0;
  }
  .toggle .hamburger .line3 {
    width: 2rem;
    -webkit-transform: rotate(45deg) translateY(-0.9rem);
    transform: rotate(45deg) translateY(-0.9rem);
  }
}

@media only screen and (max-width: 440px) {
  .content .productscarousel {
    justify-content: space-between;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Handle */
.navbar::-webkit-scrollbar-thumb {
    background:wheat; 
    border-radius: 10px;
}


  
  .navbar .header {
    margin: 4rem 0 4.5rem 0;
  }
  
  .navbar .header .brand {
    font-size: 2.5rem;
    font-weight: 400px;
    line-height: 2.7rem;
    
  }
  
  .navbar .navlinks li {
      list-style: none;
    margin-bottom: 3.4rem;
    position: relative;
    height: 1.3rem;
  }
  
  .navbar .navlinks li a {
    text-decoration: none;
    position: absolute;
    color: #818181;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all 0.3s ease;
  }
  
  .navbar .navlinks li a:hover {
    color: orangered;
    font-size: 1.5rem;
  }
  
  .navbar .navlinks li:nth-child(1) a {
    
     border-bottom: solid red;
     
  }
  
  .navbar .cartbutton {
    display: inline-block;
    background-color: #ff4e4e;
    padding: 1.2rem 3.8rem;
    border-radius: 40px;
    color: white;
    font-size: 1.1rem;
    margin-top: 2.3rem;
    transition: all 0.3s ease;
  }
  
  .navbar .cartbutton:hover {
    -webkit-box-shadow: 0 0 15px #ff4e4e;
    box-shadow: 0 0 15px #ff4e4e;
  }
  